.reply_card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reply_card_arrangement {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(0,0,0,0.5);
}

.username_title {
    
    margin: auto 10px !important;
}
.username_title h6{
    font-weight: bold !important;
}

.avatar {
    background-color: orangered !important;
}

.reply_description {
    margin: 0px 50px 10px 60px
}